@import "@picocss/pico";

/* Yellow color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: rgba(158, 146, 0, 0.25);
  --pico-primary: #756b00;
  --pico-primary-background: #f2df0d;
  --pico-primary-underline: rgba(117, 107, 0, 0.5);
  --pico-primary-hover: #5b5300;
  --pico-primary-hover-background: #e8d600;
  --pico-primary-focus: rgba(158, 146, 0, 0.5);
  --pico-primary-inverse: #000;
  --pico-switch-color: var(--pico-secondary-hover);
}

/* Yellow color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(173, 159, 0, 0.1875);
    --pico-primary: #ad9f00;
    --pico-primary-background: #f2df0d;
    --pico-primary-underline: rgba(173, 159, 0, 0.5);
    --pico-primary-hover: #caba01;
    --pico-primary-hover-background: #f8e861;
    --pico-primary-focus: rgba(173, 159, 0, 0.375);
    --pico-primary-inverse: #000;
    --pico-switch-color: var(--pico-background-color);
  }
}

/* Yellow color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --pico-text-selection-color: rgba(173, 159, 0, 0.1875);
  --pico-primary: #ad9f00;
  --pico-primary-background: #f2df0d;
  --pico-primary-underline: rgba(173, 159, 0, 0.5);
  --pico-primary-hover: #caba01;
  --pico-primary-hover-background: #f8e861;
  --pico-primary-focus: rgba(173, 159, 0, 0.375);
  --pico-primary-inverse: #000;
  --pico-switch-color: var(--pico-background-color);
}

/* Blue-grey (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

.app {
  margin-bottom: 10vh;
}

.load-file-button {
  position: relative;
  flex-grow: 1;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  justify-content: center;
  background-color: transparent;
  flex-wrap: wrap;
}

.middle-column {
  display: flex;
  flex-direction: column;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-top: 0.5em;
}

.photo-area {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid var(--pico-primary);
}

.control-container {
  display: flex;
  flex-direction: column;
  padding: 0.25em;
}

.control-tab-label {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
}

.inactive-tab {
  background-color: var(--pico-code-background-color);
  color: var(--pico-muted-color);
}

.slide-control {
  margin-top: 1.5em;
  margin-bottom: 5em;
  width: 100%;
}
.control-row1 {
  display: flex;
  flex-direction:row;
  align-items:baseline;
  justify-content: space-between;
  height: 2em;
}

.control-row2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.control-row3 {
  font-size: small;
  margin-bottom: 1em;
  color: var( --pico-secondary);
}

.control-button {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(25% - 10px);
  /* Set the width for 3 elements per row, considering the margin */
  max-width: calc(25% - 10px);
  /* Set the maximum width for 3 elements per row */
  margin: 5px;
}

.left-column {
  display: flex;
  flex-direction: column;
  z-index: 0;
  flex-grow: 1;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-top: 0.5em;
}

.guide-instruction {
  flex: 0 0 auto;
}

.guide-details {
  flex: 0 0 auto;
}

.guides-section {
  max-width: 100%;
  overflow-y: auto;
  padding: 0.5em;
  text-wrap: pretty;
  word-wrap: normal;
  margin-left: 0;
  margin-right: 0;
}

.guide-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.color-block {
  display: inline-block;
  margin-right: 0.5em;
}

.right-column {
  display: flex;
  flex-direction: column;
  z-index: 0;
  flex-grow: 1;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-top: 0.5em;
}

.preview-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* Hide overflow */
  width: 100%;
  display: flex;
  /* Add display: flex to center its children */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.cropped-preview {
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  border: 1px solid var(--pico-primary);
  margin-bottom: 0.5em;
}

.export-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.export-label {
  font-size: small;
}

.export-input {
  font-size: small;
}

.save-button {
  margin-top: 0.5em;
}

.modal {
  margin-bottom: 5vh;
}

.modal-button {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: var(--pico-contrast);
  border: 1px solid var(--pico-contrast);
}

.modal-method {
  text-align: center;
}

.changelog {
  height: 400px;
  overflow-y: scroll;
}

.save-option-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  text-align: center;
}

.save-option {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex-grow: 1;
  border: 1px solid var(--pico-primary);
  margin: 0.5em;
  justify-content:space-between;
}

.save-preview {
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  border: 1px solid var(--pico-primary);
  margin-top: 0.5em;
}

.save-text {
  margin-top: 0.5em;;
}

.save-option-button {
  margin: 0.5em;;
}

.disable-scroll {
  overflow: hidden;
}

.test {
  width: 80vw;
  align-self: center;
}

iframe {
  /* set Disqus color scheme to Auto*/
  color-scheme: light;
}